<div class="container">
  <h1>About Us</h1>

  <p>In the summer of 2015, our team attended a week-long TechGirlz camp in Philadelphia, PA. TechGirlz is an organization dedicated to reducing the gender gap in technology occupations. We created Clueless Closet because we wanted a way to make getting ready in the morning much faster and more convenient. We also realized how hard it is at some times to organize and select an outfit. So, we created this app to help people upload and view the clothes in their closets, mix and match which ones should go together, and see the outfits that are randomized by the app.</p> 
</div>