<div class="container">
  <h1>Contact Us</h1>
  <p>We would gladly appreciate your feedback and support!<br />
  To Contact Us: <br />
  Email: xxxxxxxx@example.com <br />
  Phone: (111)-111-1111
  </p> 
</div>