
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CluelessCloset</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="jXtfSU6YvhFnv/b9cE+u1FB3a36sZM1MfvJL3EYBkgJP+k+ckhOpNnL3vymm7TWwdGW5xP668o3zDYSBHYL+QA==" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>
  <body>
   
  <!-- Page Content -->
  <div class="container">
    <div class="jumbotron">
          <h1>Clueless Closet</h1>
            <p> View and organize your virtual closet. Relieve the stress of everyday fashion dilemmas.</p>

            <p>
              <a class="btn btn-primary" href="/users/sign_in">Sign In</a> or
              <a class="btn btn-primary" href="/users/sign_up">Sign Up</a> today!
            </p>
        </div> 
      </div>     

    <!-- /.container -->

    <footer class="footer">
      <p class="text-center">
        Made at the <a href="http://www.techgirlz.org/summer-camp-2015/">TechGirlz 2015 Summer Camp</a>
      </p>
    </footer>
  </body>
</html>
