
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CluelessCloset</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="jXtfSU6YvhFnv/b9cE+u1FB3a36sZM1MfvJL3EYBkgJP+k+ckhOpNnL3vymm7TWwdGW5xP668o3zDYSBHYL+QA==" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Clueless Closet</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Change Location</a>
              
            </li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/about">About</a>
            </li>
              <li>
                <a href="/users/sign_in">Login</a>
              </li>
              <li>
                <a href="/users/sign_up">Sign Up</a>
              </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>

      <!-- /.container -->
    </nav>

    <div class="container">
    <div class="row">
      <div class="banner">
          <%= image_tag "CluelessCloset.jpg" %><%= image_tag "weather_banner.jpg" %>
      </div>
    </div>
  <!-- Page Content -->
      
        <div class="jumbotron">
          <h1>Clueless Closet</h1>
            <p> View and organize your virtual closet. Relieve the stress of everyday fashion dilemmas.</p>

            <p>
              <a class="btn btn-primary" href="/users/sign_in">Sign In</a> or
              <a class="btn btn-primary" href="/users/sign_up">Sign Up</a> today!
            </p>
        </div> 
      </div>     
      <ul class="list-inline center-block text-center">
        <li>
          <h3>
            <a href="/categories/tops">Tops</a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="/categories/bottoms">Bottoms</a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="/categories/shoes">Shoes</a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="/categories/accessories">Accessories</a>
          </h3>
        </li>   
      </ul>

    <!-- /.container -->

    <footer class="footer">
      <p class="text-center">
        Made at the <a href="http://www.techgirlz.org/summer-camp-2015/">TechGirlz 2015 Summer Camp</a>
      </p>
    </footer>
  </body>
</html>
