/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  padding-top: 50px;
  padding-bottom: 70px
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.treb {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.comic {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.banner {
  margin-right: -10px
}
.banner img {
  float: left;
  padding: 10px;
  padding-top: 0px
}
.item {
  width: 200px
}

#brand {
  padding: 0px;
  margin: 0px
}

navbars {
  font-family: "Trebuchet MS", Helvetica, sans-serif
}
.top {
  height: 200;
}

.bottom {
  height: 400;
}

.shoe {
  height: 100;
  width: 100;
}
.accessory {
  height: 100;
  width: 100;
}

p {
  
}

h2 {
  
}